@use "../abstracts" as *;

.accroche {
    @include flex($justify: end);
    height: 100vh;
    background-image: url("../sources/ismael-trevino-NDyuR4Huig8-unsplash.png");
    background-repeat: no-repeat;
    background-size: cover;


    &__content {
        @include flex-v();
        flex-direction: column;
        background-color: RGBA(178, 210, 52, 0.85);
        padding: 40px;
        max-width: 500px;
        margin-right: 100px;
        text-align: center;

        p {
            max-width: 350px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}